* {
	padding: 0;
	margin: 0;
	font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

body {
	background: #f6f6f6;
}

.main .container {
	width: 1140px;
	display: flex;
	margin: auto;
	justify-content: space-between;
}

.left-nav {
	/*background-color: red;*/
	width: 16%;
}

.right {
	width: 15.6%;
}

.body {
	width: 66%;
	/*border: 1px solid red;*/
}


/*header{
	border: 1px red solid;
}*/

header .content {
	display: flex;
	width: 1140px;
	margin: auto;
	justify-content: space-between;
	flex-grow: 0;
}

.logo {
	margin: 30px 0;
	display: block;
	width: 258px;
	height: 39px;
	background: url(../img/runoob-logo@2x.png) no-repeat;
	background-size: 100%;
}

.search {
	display: block;
	margin: 25px 0;
	width: 402px;
	background: #eeefed;
	padding: 5px;
	border-radius: 3px;
	text-align: center;
}

.search input {
	line-height: 34px;
	left: 9px;
	top: 0;
	text-align: initial;
	white-space: nowrap;
	right: 9px;
	height: 35px;
	width: 94%;
	padding: 0 3% 0 3%;
	background-color: #fff;
	border: 1px solid #c8c8c8;
	border-radius: 3px;
	color: #ccc;
	font-weight: 400;
	font-size: 14px;
	outline: 0;
}


/*nav*/

.nav {
	background-color: #96b97d;
}

.nav .content {
	margin: 20px auto;
	display: flex;
	width: 1140px;
}

.nav .content a {
	color: white;
	display: block;
	font-size: 11px;
	line-height: 12px;
	height: 12px;
	margin: 11px 20px 11px 0;
}

.nav .content a:hover {
	color: #e3efd9;
}


/*main*/

.left-nav .tab {
	opacity: .7;
	padding-left: 4px;
	font-weight: 400;
	display: block;
	font-size: 14px;
	line-height: 1.9em;
	font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: grey;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .15);
	border: 1px solid rgba(0, 0, 0, .1);
	border-bottom: 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-clip: padding-box;
	background-color: #f2f2f2;
}

.left-nav .leftnavcon {
	display: flex;
	flex-direction: column;
	padding: 4px;
	background-color: white;
}

.left-nav .leftnavcon a {
	background-color: #f6f4f0;
	display: block;
	font-size: 11px;
	padding: 4px;
	border-bottom: 1px solid #efefef;
}

.leftnavcon .left {
	padding-top: 15px;
	font-size: 13px;
	margin-bottom: 4px;
	font-weight: 600;
}

.leftnavcon .left span {
	color: #64854c;
}


/*rightnav*/

.right .tit {
	padding: 0 19px 10px 19px;
	background-color: #e9e9e9;
	text-align: center;
	overflow: hidden;
}

.right-nav .tit a {
	width: 100%;
	background: #efefef;
	display: block;
	padding: 5px 0 5px 0;
	color: #ccc;
}

.right-nav {
	background-color: #e9e9e9;
	text-align: center;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
	/*overflow: hidden;*/
}

.right-nav>ul>li>ul>li {
	color: black;
}

.right-nav>ul>li>ul {
	display: none;
	position: absolute;
	background: #f6f4f0;
	right: 100%;
	top: 0;
	z-index: 99;
	text-align: left;
	white-space: nowrap;
	padding-left: 30px;
	padding-right: 10px;
}

.right-nav>ul {
	padding: 0;
	margin: 0;
	background-color: #f6f4f0;
}

.right-nav ul li {
	line-height: 26px;
	padding: 5px 2px;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	border-bottom: 1px solid #fff;
	list-style: none;
}

.right-nav>ul>li {
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.right-nav>ul>li:hover {
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.right-nav>ul>li a {
	font-size: 12px;
}

.right-nav>ul>li>ul>li>a:hover {
	text-decoration: underline;
}

.body {
	display: flex;
	flex-direction: column;
}

.b_nav {
	font-size: 10.5px;
	justify-content: space-between;
	display: flex;
	padding: 10px 30px 10px 30px;
	background: #fbfbfb;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	color: #ccc;
}

.body_con {
	background-color: white;
	padding: 10px 10px 20px 10px;
}

.body_con h2 {
	margin: 2px 0;
	font-size: 19px;
	line-height: 1.8em;
	font-weight: 500;
}

.h1 {
	color: #64854c;
}

.b_nav a {
	font-size: 10.5px;
	color: grey;
}

.b_nav .pre {
	margin-left: ;
}

hr {
	background-color: #d4d4d4;
	margin: 5.5px 0;
	height: 1px;
	border: 0;
}

.body_con p {
	font-size: 12px;
	line-height: 2em;
}

.zxshili {
	display: flex;
	height: 50px;
	margin-bottom: 5px;
}

.zxshili img {
	margin-right: 10px;
}

.zxshili h2 {
	padding-top: 5px;
}

.body_con p a {
	color: #64854c;
	text-decoration: underline;
}

.deng {
	padding: 14px 0 14px 13px;
	display: flex;
	border: 1px solid #d4d4d4;
}

.deng p {
	line-height: 32px;
	font-size: 11px;
}

.coding1 {
	width: 98%;
	padding: 5px;
	border: 1px solid #d4d4d4;
	background-image: linear-gradient(#fff, #e5eecc 100px);
}

.shili {
	color: #617f10;
	font-size: 13px !important;
}

.coding1 .code {
	width: 98%;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #d4d4d4;
	font-size: 110%;
}

.coding1 .main-code {
	background-color: #fff;
	font-family: "Courier New", monospace;
	/*white-space: pre-wrap;*/
	font-size: 12px;
}

.csyxbtn {
	display: inline-block;
	color: #FFF;
	background-color: #8ac007;
	font-weight: 700;
	font-size: 12px;
	padding: 3px 10px 4px 10px;
	margin-left: 5px;
	margin-bottom: 5px;
	border: 1px solid #aaa;
	border-radius: 5px;
}
.csyxbtn:hover{
	background-color: white;
	color: #8ac007;
}
.bujubiaoqian{
	border-collapse: collapse;
width: 100%;
margin-bottom: 4px;
margin-top: 4px;
font-size: 11px;
}
.bujubiaoqian th{
	color: #fff;
background-color: #555;
border: 1px solid #555;
font-size: 12px;
padding: 3px;
}
.bujubiaoqian td{
word-break: break-all;
word-wrap: break-word;
border: 1px solid #d4d4d4;
padding: 5px;
padding-top: 7px;
padding-bottom: 7px;
vertical-align: top;
}
footer{
	margin-top: 40px;
	background-color: white;
border-top: 1px solid #e4e4e4;

}
footer .container{
	display: flex;
	width: 1012px;
	margin: auto;
	
}
footer ul{
	margin-top: 28px ;
	list-style: none;
	margin-bottom: 38px;
}
footer .container .weixin{
	width: 20%;
	
}
footer .container .word{
	width: 80%;
	display: flex;
	
}
footer .container .word ul{
	border-left: 1px solid #e4e4e4;
	width: 25%;
	
}

footer .container .word ul li:nth-of-type(1){
	font-size: 14px;
color: #666;
font-weight: 500;
}
footer ul li{
	margin-left: 33px;
	font-size: 12px;
margin-top: 10px;
}
footer ul li a{
	color: gray;
padding-left: 5px;
}
.weixin{
	border-left: 1px solid #e4e4e4;
}
.weixin .container a{
	width: 150px;
}
.weixin .container{
	width: 100%;
	margin-left: 40px;
	margin-top: 28px;
	display: flex;
	  flex-direction: column;
}
.weixin b{
	    font-size: 18px;
    color: #666;
  
    margin-bottom: 8px;
}
.bottom{
	background: #f6f6f6;
	border-top: 1px solid #e4e4e4;
	font-size: 12px;
color: #999;
margin: 0 auto;
width: 100%;
text-align: center;
padding: 20px 0;
}
.bottom a{
	color: #999;
}

.jianyi{
	display: block;
	position: fixed;
	bottom: 0;
	width: 90px;
	height: 28px;
	background: url(../img/1A81C966-B8F5-40B6-A1F4-DCC1C8626752.png) no-repeat;
	background-size: 100%;
	right: 0;
}
.email{
	width: 42px;
	height: 42px;
	display: block;
	position: fixed;
	bottom: 33px;
	background: url(../img/EDA56543-A8E0-49CC-9B71-B6A10A9DAD0A.png) no-repeat;
	background-size: 100%;
	right: 10px;
	border: 1px solid #eee;
}
.erweima{
	width: 42px;
	height: 42px;
	display: block;
	position: fixed;
	bottom: 75px;
	background: url(../img/9DF594F0-5F50-4976-8C68-8819832A2846.png) no-repeat;
	background-size: 100%;
	right: 10px;
	border: 1px solid #eee;
}
.gotop{
	border: border: 1px solid #eee;
	width: 42px;
	height: 42px;
	display: block;
	position: fixed;
	bottom: 117px;
	background: url(../img/98922EFF-9031-4771-B954-7998385A0049.png) no-repeat;
	background-size: 100%;
	right: 10px;
		 border: 1px solid #eee;
}
